
*{
/* transition: all 5s !important; */
}

body{

    width: 100vw;
    height: 100vh;
    scroll-behavior: none;
    overflow: hidden;
    margin: 0;
}
.navBar a{
    text-decoration-style: solid;
    text-transform: capitalize;
    color: rgb(255, 248, 240);
    text-decoration-line: none;
    width: 100%;
    height: 100%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid #ADEFD1FF;
    border-bottom: solid #ADEFD1FF;

    
}
#gradient > div:nth-child(2) > nav > a:nth-child(1){
    border-top: none;
}
#gradient > div:nth-child(2) > nav > a:nth-child(5){
    border-bottom: none;

}
div{
    width: 100vw;
    height: 100vh;
    scroll-behavior: none;
    overflow: hidden;
    margin: 0;
    position: absolute;
}
canvas{
}
.navBar{
    display: flex;
    background-color:#00203FFF;
    color: bisque;
    flex-direction: column;
    justify-content: space-around;
    width: 12vw;
    height: 100vh;
    align-content: center;
    text-align: center;
    padding: 15px;
    margin: 0px;
}






@media only screen and (max-width: 600px) {
    a{
        text-decoration-style: solid;
        text-transform: capitalize;
        color: bisque;
        text-decoration-line: none;
        font-size:100%;

        
    }  
    .navBar{
        display: flex;
        background-color: black;
        color: bisque;
        flex-direction: column;
        justify-content: space-around;
        width: 15vw;
        height: 100vh;
        align-content: center;
        text-align: center;
        padding: 15px;
        margin: 0px;
    }











}
.welcomeCard{

}
